<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="VideoPlateReaderLog.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring,StackTrace}${newline}" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="*" minlevel="Error" writeTo="logfile" />
        <!--<logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="*" minlevel="Error" writeTo="logfile" />-->
    </rules>
</nlog>


<!--Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
• Debug - debugging information, less detailed than trace, typically not enabled in production environment.
• Info - information messages, which are normally enabled in production environment
• Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
• Error - error messages - most of the time these are Exceptions 
• Fatal - very serious errors!-->
