<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="gmailUserName" value="" />
    <add key="gmailPwd" value="" />
    <add key="foundPlatesPath" value="Data\FoundPlates\" />
    <add key="initialFolder" value="Data\" />
    <add key="initialLastFileProcess" value="Data\LasFileProcessed.txt" />
    <add key="initialMatchedImageLog" value="Data\\MatchedImageLog.txt" />
    <add key="initialRegion" value="us" />
    <add key="toEmail" value="" />
    <add key="fromEmail" value="" />
    <add key="isSendEmail" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>